# Shows how to Use the Data Alan Created amd Use Utility Functions

In [1]:
import pickle
from collections import namedtuple

## Unpickle the Main Dataframe

In [2]:
df = pickle.load(open('dfu3.pkl', 'rb'))
df.head()

,site_id,vendor_code,service_type,cal_year,cal_mo,item_desc,units,cost,days_served,usage,fiscal_year,fiscal_mo,mmbtu
0,ANSBG1,VF314940,Natural Gas,2010,7,Natural gas (CCF),CCF,486.121875,2.5,212.187500,2011,1,21.643125
1,ANSBG1,VF314940,Natural Gas,2010,7,Other Charge,-,3.029688,2.5,NaN,2011,1,NaN
2,ANSBG1,VF314940,Natural Gas,2010,8,Natural gas (CCF),CCF,6127.112480,31.0,2674.425403,2011,2,272.791391
3,ANSBG1,VF314940,Natural Gas,2010,8,Other Charge,-,37.936442,31.0,NaN,2011,2,NaN
4,ANSBG1,VF314940,Natural Gas,2010,9,Natural gas (CCF),CCF,7842.075128,30.0,3422.990545,2011,3,349.145036

## Add a Degree Day column to a DataFrame

In [3]:
from importlib import reload
import sys

# bench_util module is in the parent directory, because it will be part of
# the production code.  Add the parent directory to the Path so Python can
# import from there
sys.path.insert(0, '../')   
import bench_util

In [4]:
# this is only needed to update any code changes I may have made
# since last importing the module.
reload(bench_util)     

# Make an object that has the various utility functions.
# The object needs access to the main utility bill data file and the spreadsheet
# containing other application data.
ut = bench_util.Util('data/ExampleDataExport.csv', 'data/Other_Building_Data.xlsx')

# Add a Degree Day column to the df DataFrame. Just using this DataFrame for
# illustration here.  Normally you would add degree days in once you summed
# heating fuel across the entire building.
ut.add_degree_days(df)
df.head()

# This ut Util object can be reused for adding degree-days to other DataFrames.
# You only need to create it once in your script.

,site_id,vendor_code,service_type,cal_year,cal_mo,item_desc,units,cost,days_served,usage,fiscal_year,fiscal_mo,mmbtu,degree_days
0,ANSBG1,VF314940,Natural Gas,2010,7,Natural gas (CCF),CCF,486.121875,2.5,212.187500,2011,1,21.643125,134
1,ANSBG1,VF314940,Natural Gas,2010,7,Other Charge,-,3.029688,2.5,NaN,2011,1,NaN,134
2,ANSBG1,VF314940,Natural Gas,2010,8,Natural gas (CCF),CCF,6127.112480,31.0,2674.425403,2011,2,272.791391,169
3,ANSBG1,VF314940,Natural Gas,2010,8,Other Charge,-,37.936442,31.0,NaN,2011,2,NaN,169
4,ANSBG1,VF314940,Natural Gas,2010,9,Natural gas (CCF),CCF,7842.075128,30.0,3422.990545,2011,3,349.145036,568

## Get additional Information on a Building

In [5]:
# use the Util object from before to access additional Building Information.

# Value retunred below is a "named tuple"
rec = ut.bldg_info['ANSBG1']
rec

BldgInfo(site_name='Animal Control', address='2408 Davis Road', city='Fairbanks', primary_func='Animal Shelter', year_built=1993, sq_ft=14000, onsite_gen=nan, dd_site='PAFA')

In [6]:
# You can get individual fields through use of the dot operator
print(rec.address, ', ', rec.year_built)

2408 Davis Road ,  1993